<app-header></app-header>
<div class="users">
<h1>Users</h1>
<table class="users__table table" *ngIf="users">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Company</th>
      <th>Email</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td scope="row">{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.company.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.address.city}} <br />{{user.address.street}}<br/>{{user.address.suite}}</td>
    </tr>
  </tbody>
</table>
</div>
<app-footer></app-footer>
