<app-header></app-header>
<div class="users">
  <h3>Users</h3>
  <table class="users__table table" *ngIf="users">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Company</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" [routerLink]="['/users', user.id]">
        <td scope="row">{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.company.name}}</td>
        <td>{{user.address.city}}</td>
      </tr>
    </tbody>
  </table>
  </div>
<app-footer></app-footer>
